.nav-link {
  color: #333 !important;
}

.ui.inverted.menu {
  background: #45484d !important;
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%) !important;
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%) !important;
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%) !important;
}

.dropdown-limited-menu {
  height: 400px;
  overflow-y: auto;
}
